/* line 6, ../sass/style.scss */
body {
  font-family: Helvetica, sans-serif;
  color: #333;
  padding-top: 50px;
}

/* line 12, ../sass/style.scss */
h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/style.scss */
form .date {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

/* line 28, ../sass/style.scss */
header {
  position: fixed;
  overflow: hidden;
  top: 0px;
  background-color: #333333;
  width: 100%;
  z-index: 1000;
}
/* line 29, ../sass/style.scss */
header h2 {
  margin: 0;
  padding: 10px;
  color: #4CAF50;
}

/* line 44, ../sass/style.scss */
nav {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
/* line 49, ../sass/style.scss */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
/* line 60, ../sass/style.scss */
nav li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}
/* line 67, ../sass/style.scss */
nav li a.active {
  background-color: #4CAF50;
  color: white;
}
/* line 72, ../sass/style.scss */
nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* line 78, ../sass/style.scss */
#content {
  display: inline-block;
  width: 75%;
  margin-top: 20px;
  margin-left: 20px;
  min-height: 550px;
}

/* line 88, ../sass/style.scss */
table, .table-bordered {
  border-collapse: collapse;
  margin-bottom: 20px;
}
/* line 91, ../sass/style.scss */
table th, .table-bordered th {
  height: 30px;
}
/* line 94, ../sass/style.scss */
table td, .table-bordered td, table th, .table-bordered th {
  padding: 5px 5px 5px 5px;
  border-bottom: 1px solid #ddd;
}
/* line 98, ../sass/style.scss */
table tr:hover, .table-bordered tr:hover {
  background-color: #f5f5f5;
}
/* line 102, ../sass/style.scss */
table tr:nth-child(even), .table-bordered tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 109, ../sass/style.scss */
.demi {
  width: 40%;
  display: inline-block;
}

/* line 114, ../sass/style.scss */
.btn, .btn-green, .btn-orange, .btn-red, .btn-blue {
  background-color: black;
  /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

/* line 125, ../sass/style.scss */
.btn-green {
  background-color: #4CAF50;
}

/* line 130, ../sass/style.scss */
.btn-orange {
  background-color: orange;
}

/* line 135, ../sass/style.scss */
.btn-red {
  background-color: red;
}

/* line 140, ../sass/style.scss */
.btn-blue {
  background-color: #1E90FF;
}

/* line 146, ../sass/style.scss */
form .form-group {
  padding: 10px;
}
/* line 149, ../sass/style.scss */
form input[type="text"] {
  border-radius: 5px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
/* line 155, ../sass/style.scss */
form select {
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
/* line 161, ../sass/style.scss */
form input[type="text"]:focus,
form input[type="text"].focus {
  box-shadow: 0 0 1px 1px #65D417;
}

/* line 168, ../sass/style.scss */
.alert {
  color: #555;
  border-radius: 10px;
  font-family: Tahoma,Geneva,Arial,sans-serif;
  font-size: 11px;
  padding: 10px 36px;
  margin: 10px;
}

/* line 176, ../sass/style.scss */
footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
}
